:root {
    --cor-principal: #183677; /* Cor azul escuro */
    --cor-principal-escura: #132753;
    --cor-de-fundo: #f6e7d8;       /* Bege claro */
    --cor-roxa: #32324f;
    --cor-principal-clara: #335fbd;
}
/*geral*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color:var(--cor-de-fundo);
    font-family:  'Courier New', Courier, monospace ;
    font-size: 15px;
    text-align: justify;
}
a{
    color: white;
}

/*HEADER*/
header {
    padding: 20px 4%;
    background-color: var(--cor-principal);
}

header> .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: white;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header nav.menu a:hover {
    color: black;
    transform: scale(1.05);
}
header .interface .logo{
    margin: 10px;
    flex-direction: row;
    
}
header nav ul {
    list-style-type: none;
}

header nav.menu ul li {
    display: inline-block;
    padding: 0 40px;
}
header h1{
    color: white;
    align-self: baseline;
}

.botoes button{
    padding: 12px 40px;
    font-size: 16px;
    font-weight: 600;
    background-color: var(--cor-principal-escura);
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
    color: var(--cor-de-fundo);
}

button:hover,
form .botoes input:hover {
    box-shadow: 0px 0px 8px var(--cor-principal);
    transition: .2s;
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    color: var(--cor-principal) ;
}

h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    color:#1631B6;
}

h3{
    color: black;
}

/*Ver depois*/

table{
    width: 600px;
    border-collapse: collapse;
}

td, th, tr{
    border: 1px solid black;
    padding: 10px;
    
}

caption{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
    font-size: 2.0em;
    font-weight: bold;
    padding: 10px;
    color: var(--cor-principal);
}
/*Página Index*/


.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
}


/*Parte topo*/
section.topo-do-site{
    padding: 40px 4%;
}
.flex{
    display: flex;
}
section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 210px;
}
.topo-do-site h1{   
    color: var(--cor-principal);
    font-size: 54px;
    margin: 0px;
}
.topo-do-site p{
    font-family:  'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 20px 0px 40px;
    font-size: 20px;
}
.btn-aproveite button{
    padding: 12px 40px;
    font-size: 16px;
    font-weight: 600;
    background-color: var(--cor-principal);
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
    color: var(--cor-de-fundo);
}

button:hover,
form .btn-aproveite input:hover {
    box-shadow: 0px 0px 8px var(--cor-principal);
    transform: scale(1.05);
}
.topo-do-site .img-topo-site img {
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}


@keyframes flutuar {
    0% {
        top: 0;
    }

    100% {
        top: 30px;
    }
}

/*Bloco da ODS*/

section.ods {
    padding: 40px 4%;
}

section.ods .flex {
    gap: 60px;
}

.ods .projetos-box {
    color: black;
    padding: 40px;
    border-radius: 20px;
    margin-top: 45px;
    transition: .2s;
}

.ods .projetos-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 50px #23232378;
}

.ods .projetos-box i {
    font-size: 120px;
    color: green;
}


.ods .projetos-box span {
    font-size: 23px;
    color: green;
    font-weight: bold;
    margin: 15px 0;
}

.ods h2 {
    color: var(--cor-principal);
    font-size: 38px;
    text-align: center;
}

/*Login*/
.container-login {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
}
.container-login i{
    font-size: 24px;
    transition: 0.2s;
}
.container-login i:hover {
    transform: scale(1.2);
}
.img-box {
    width: 50%;
    height: 100%;
    background-color: var(--cor-principal);
    padding: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 50px #23232378; 
}
.img-box .img-borda{
    box-shadow: 0 0 50px var(--cor-principal-escura); 
    
}

.content-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.content-box .form-box {
    width: 50%;
}

.content-box .form-box .ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-box .form-box .ul li {
    list-style: none;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 0 7px;
    cursor: pointer;
    transition: 0.3s;
}

.content-box .form-box legend {
    color: var(--cor-roxa);
    font-weight: 600;
    font-size: 2em;
    text-transform: uppercase;
    margin-bottom: 15px;
    text-align: center;
}

.content-box .form-box .input-box {
    margin-bottom: 20px;
}

.content-box .form-box .input-box input {
    width: 100%;
    padding: 10px;
    outline: none;
    font-weight: 400;
    border: none;
    font-size: 17px;
    color: var(--cor-roxa);
    background-color: white;
    border-radius: 5px;
}

.content-box .form-box .input-box label {
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    color: var(--cor-roxa);
    font-weight: 400;
}

.content-box .form-box .input-box input::placeholder {
    color: rgba(128, 128, 128, 0.633);
}

.content-box .form-box .input-box input[type=submit] {
    width: 100%;
    background: var(--cor-principal);
    color: #fff;
    outline: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
    font-size: 20px;
    transition: 0.3s;
}

.content-box .form-box .input-box input[type=submit]:hover {
    background: var(--cor-principal-escura);
}
.content-box .form-box .input-box input[type=reset] {
    width: 100%;
    background: white;
    color: var(--cor-principal);
    outline: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
    font-size: 20px;
    transition: 0.3s;
}

.content-box .form-box .input-box input[type=reset]:hover {
    background: rgb(210, 208, 208);
}

.content-box .form-box .remember{
    margin-bottom: 20px;
    color: var(--cor-roxa);
    font-weight: 400;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.content-box .form-box .input-box p {
    color: var(--cor-roxa);
}
.content-box .form-box .input-box p a{
    color: gray;
}

.content-box .form-box .input-box p a:hover{
    color: var(--cor-principal);
}
.content-box .form-box h3
{
    color: #607d8b;
    text-decoration: none;
    margin: 40px 0 15px;
    font-weight: 500;
    text-align: center;
    font-size: 22px;
}

    /*Responsivo*/
@media (max-width:868px) {
    .container-login .img-box{
        display: none;
    }
    .container-login .content-box{
        width: 100%;
    }
    .container-login .content-box .form-box{
        width: 100%;
        padding: 40px;
        background: white;
        margin: 50px;
    } 
    .container-login .content-box .form-box h3{
        margin: 30px 0 10px;
    } 
}
@media (max-width:450px) {
    .container-login .content-box .form-box .remember{
        flex-wrap: wrap;
    }
    .container-login .content-box .form-box .remember a{
        margin-top: 20px;
    }
    
}

/*Cadastar*/
.Acessar{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #335fbd7d;
}

.container {
    width: 80%;
    height: 80vh;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
}

.form-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fde3a7d7;
    padding: 1rem;
    
}

.form-image img {
    width: 200%;
}

.form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 3rem;
}

.form-header {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login-button {
    display: flex;
    margin-left: 40px;
}

.login-button button {
    border: none;
    background-color: var(--cor-principal-clara);
    padding: 0.4rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

.login-button button:hover {
    background-color: var(--cor-principal-escura)
}

.login-button button a {
    text-decoration: none;
    font-weight: 500;
    color: white;
}

.form-header h1::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: var(--cor-principal-clara);
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.input-box input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 14px;
}

.input-box input:hover {
    background-color: #eeeeee75;
}

.input-box input:focus-visible {
    outline: 1px solid var(--cor-principal-clara);
}

.input-box label{
    font-size: 0.75rem;
    font-weight: 600;
    color: #000000c0;
}

.input-box input::placeholder {
    color: #000000be;
}


.continue-button button {
    width: 100%;
    
    border: none;
    background-color: var(--cor-principal);
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
}

.continue-button button:hover {
    background-color: var(--cor-principal-clara);
}

.continue-button button a {
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: #fff;
}
.container .form .ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .form .ul li {
    list-style: none;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 0 7px;
    cursor: pointer;
    transition: 0.3s;
}


.container .form h3
{
    color: black;
    text-decoration: none;
    margin: 10px 0 5px;
    font-weight: 500;
    text-align: center;
    font-size: 22px;
}
.container i{
    font-size: 20px;
    transition: 0.2s;
}
.container i:hover {
    transform: scale(1.2);
}

@media screen and (max-width: 1330px) {
    .form-image {
        display: none;
    }
    .container {
        width: 50%;
    }
    .form {
        width: 100%;
    }
}

@media screen and (max-width: 1064px) {
    .container {
        width: 90%;
        height: auto;
    }
    .input-group {
        flex-direction: column;
        z-index: 5;
        padding-right: 5rem;
        max-height: 10rem;
        overflow-y: scroll;
        flex-wrap: nowrap;
    }
    .gender-inputs {
        margin-top: 2rem;
    }
    .gender-group {
        flex-direction: column;
    }
    .gender-title h6 {
        margin: 0;
    }
    .gender-input {
        margin-top: 0.5rem;
    }
}
/*Rodapé*/
footer {
    padding: 10px 4%;
    box-shadow: 0 0 40px 10px #ffffff1d;
    background-color: rgb(32, 31, 31);
    margin: 0px 0px 0px 0px;
}

footer .flex {
    justify-content: space-between;
}

footer .line-footer {
    padding: 20px 0;
}
foorter .logo-footer{
    display: flex;
    align-items: center;
}
footer .logo-footer img{
    width: 50px;
}
footer .logo-footer span{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: 40px;
}

.borda {
    border-top: 2px solid white;
}

footer .line-footer p i {
    color: white;
    font-size: 22px;
}

footer .btn-social button{
    background-color: rgb(32, 31, 31);
    border: 0;
    width: 50px;
    font-size: 30px;
    color: white;
}

footer .line-footer p a {
    color: #fff;
}